@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* Navbar styles */

.main__nav {
    @apply flex flex-wrap items-center justify-between px-2 py-3 mb-3
}

.main__nav__container {
    @apply container px-4 mx-auto flex flex-wrap items-center justify-between lg:pl-32 lg:pr-32
}

.nav__lists {
    @apply flex flex-col lg:flex-row list-none lg:ml-auto
}

.nav__links {
    @apply lg:px-6 py-4 lg:py-2 flex items-center text-lg font-semibold
}

